<ion-header>
  <ion-navbar color="huise">
    <ion-title>书架</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher pullMax="145" (ionRefresh)="RefreshLocalInfo($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉获取最新内容" refreshingSpinner="circles" refreshingText="正在刷新...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let book of books" (click)="ReadBook(book)">
      <ion-thumbnail item-left>
        <img *ngIf="book.coverUrl == null || book.coverUrl =='' " src="../../assets/img/alt.jpg">
      </ion-thumbnail>
      <h2>{{ book.name }}</h2>
      <p class="book-author" *ngIf="book.author != null && book.author.length > 0">{{ book.author+' 著' }}</p>
      <p *ngIf="book.author == null || book.author.length == 0">{{ '未知作者' }}</p>
      <p class="book-pct">已读 {{ book.readPct}}%</p>
      <ion-badge item-right color='sky' *ngIf="book.updateCount > 0">{{ book.updateCount }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>