<ion-header>
  <ion-navbar color="huise">
    <ion-title>书架</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher pullMax="145" (ionRefresh)="RefreshBookInfo($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="下拉获取最新内容" refreshingSpinner="circles" refreshingText="正在刷新...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="books.length == 0">
    <ion-list-header>
      <p>你的书架中没有书籍！</p>
      <p>你可以：</p>
    </ion-list-header>
    <ion-item *ngIf="account != null && account.local == true">登陆账号，同步阅读记录</ion-item>
    <ion-item *ngIf="account != null && account.local == false">刷新一下，同步你的阅读记录</ion-item>
    <ion-item>去书城看看</ion-item>
    <ion-item></ion-item>
  </ion-list>

  <ion-list *ngIf="books.length > 0">
    <ion-item *ngFor="let book of books" (click)="ReadBook(book)">
      <ion-thumbnail item-left>
        <img *ngIf="book.coverUrl == null || book.coverUrl =='' " src="../../assets/img/alt.jpg">
      </ion-thumbnail>
      <h2>{{ book.name }}</h2>
      <p class="book-author" *ngIf="book.author != null && book.author.length > 0">{{ book.author+' 著' }}</p>
      <p *ngIf="book.author == null || book.author.length == 0">{{ '未知作者' }}</p>
      <p class="book-pct">已读 {{ book.readPct}}%</p>
      <ion-badge item-right color='sky' *ngIf="book.updateCount > 0">{{ book.updateCount }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>