<ion-content style="background-color: #ffffbb">
  <div class="reader" (click)="ToggleReaderTool()">
    <div class="reader-tool" *ngIf="readerToolShow">
      <div class="reader-tool-top">
        <button ion-button clear color="light" (click)="navCtrl.pop()">
          <ion-icon name="arrow-back"></ion-icon>
          </button>
      </div>
      <div class="reader-tool-bottom">
        <button ion-button clear color="light" (click)="menuCtrl.open()">
          <ion-icon name="list"></ion-icon>
          </button>
      </div>
    </div>
    <div class="reader-context">
      <div class="reader-context-h" *ngIf="chapter != null">
        <p>{{ chapter.name }}</p>
      </div>
      <div class="reader-context-text" *ngIf="context != null">
        {{ context.text }}
      </div>
    </div>
  </div>

  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>目录</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item-group *ngFor="let v of book.volumes">
        <ion-item-divider color="light">{{ v.name }}</ion-item-divider>

        <button ion-item *ngFor="let c of book.GetChapter(v.no)" (click)="LoadChapter(c)">
          {{ c.name }}

        </button>
      </ion-item-group>
    </ion-content>
  </ion-menu>
  <ion-nav #content style="display: none"></ion-nav>
</ion-content>